<div class="background-image">
  <mat-card class="login-card">
    <h1 class="card-title">Enter Details</h1>
    <form class="form-container" [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="detailsForm.get('firstName')?.hasError('required')">
          First Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="detailsForm.get('lastName')?.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-error *ngIf="detailsForm.get('phoneNumber')?.hasError('required')">
          Phone Number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="detailsForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="detailsForm.get('email')?.hasError('email')">
          Please enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="detailsForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="detailsForm.invalid">Register</button>
    </form>
  </mat-card>
</div>
